<h1>CoachingController#answer</h1>
<p>Find me in app/views/coaching_controller/answer.html.erb</p>


<div>
  <div>
    <strong> <%= @question %> </strong>
  </div>
  <div>
    You
  </div>
</div>
<div>
  <div>
    <strong> <%= @answer %> </strong>
  </div>
  <div>
    Your beloved coach <i class="fa fa-heart"></i>
  </div>
</div>




<%= link_to "Please ask a new question... if you dare....", coaching_controller_ask_path %>

